.mdiv {
    align-items: center;
    justify-content: center;
    width: 1400px;
    overflow: scroll;
}

svg#sky {
    height: 100px;
    width: 1100px;
    border: 1px dotted #ccc;
    background-color: #ccc;
}