.relDiv {
    width: 100%;
    height: 400px;
    overflow-x: hidden;
    overflow-y: scroll;

}

.carDeck {
    max-height: 300px;
    min-width: 300px;
    max-width: 1200px;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 20px;

}

.carCard {
    /*background-color: lightgray;*/
    min-height: 200px;
    max-height: 400px;
    min-width: 200px;
    word-wrap: break-word;
    white-space: unset;
    margin-top: 10px;
    box-shadow: 1px 1px 6px;
}

.carImg {
    max-height: 75%;
    max-width: 75%;
    display: block;
    margin: auto;
}

.carLink {
    color: black;
}
