.mapdiv {
    align-items: center;
    justify-content: center;
    width: 1400px;
    height: 1000px;
    overflow: hidden;
}

.viz {
    display: block;
    margin: 0 auto;
    top: calc(50%);
    left: calc(50%);
}