
.group {
    display: inline-grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 10em;
    grid-column-gap: 3em;
    grid-row-gap: 2%;
    justify-self: right;
}

.paginate {
    justify-self: right;
    grid-column: 3;
}


.staggered-list-content {
    width: 350px;
    margin: 2rem auto;
}

.staggered-list-contentExpanded {
    width: 350px;
    margin: 2rem auto;
    grid-row: span 4;
}

.imageMax {
    max-height: 200px;
    max-width: 200px;
}

.list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 0;

}

.list li {
    width: 100%;
}

.list li + li {
    margin-top: 1rem;
}

.listItem {
    width: 100%;
    cursor: pointer;
    background-color: #e8411b;
    overflow: hidden;
    border-radius: 50px;
}

.listItemContent {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
    height: 100px;
}

.pagination > li.active > a {
    background: rgb(0, 0, 0);
    color: #cdcfff;
}

.avatar {
    width: 4rem;
    height: 4rem;
    border-radius: 100px;
    margin-right: 2rem;
    background-color: white;
}

.avatarExpanded {
    width: 8rem;
    height: 8rem;
    border-radius: 25px;
    margin-right: 0;
    margin-bottom: 1rem;
}

.description > div {
    background-color: #363636;
    width: 14rem;
    border-radius: 6px;
    height: 0.5rem;
}

.description > a {
    color: white;
}

.description > div:nth-of-type(2) {
    width: 11rem;
}

.description > div:nth-of-type(3) {
    width: 8rem;
}

.description > div + div {
    margin-top: 1rem;
}

.expandedListItem .description {
    display: flex;
    align-items: center;
    flex-direction: column;

}

.expandedListItem {
    cursor: pointer;
    background-color: #fac579;
    border-radius: 25px;
    text-overflow: ellipsis;
}

.expandedListItemContent {
    padding: 2rem;
    display: flex;
    flex-direction: column;

    align-items: center;
}

.additional-content {
    width: 100%;
    margin-top: 2rem;


}


.additional-content > div {
    opacity: 0;
    border-radius: 16px;
    background-color: #fadfc6;
    height: auto;
    word-wrap: break-word;
}

a {
    color: rgb(76, 74, 72);
}

/* content fade in animations */
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
    }
}

.animated-in .additional-content > div {
    animation: fadeIn 0.4s forwards;
}

.additional-content > div:nth-of-type(2) {
    animation-delay: 0.15s;
}

.additional-content > div:nth-of-type(3) {
    animation-delay: 0.3s;
}

.additional-content > div:nth-of-type(4) {
    animation-delay: 0.45s;
}

.additional-content > div:nth-of-type(5) {
    animation-delay: 0.6s;
}

.additional-content > div + div {
    margin-top: 1rem;
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #e8411b;
    border-color: #007bff;
}
