@import "../../sanfrancisco-font.css";
@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans&display=swap');

.App {
    text-align: center;
    height: 100%;
    width: 100%;
}

.App-logo {
    height: 40vmin;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #09d3ac;
}

header {
    position: relative;
    display: block;
    width: 100%;
    background: #2B6315;
    color: white;
    height: 70px;
    font-family: "Montserrat", sans-serif;
}

header .logo {
    position: absolute;
    top: 50%;
    left: 15px;
}


header nav, nav ul, nav ul li {
    margin: 0;
    padding: 0;
}

header nav {
    font-family: "Montserrat", sans-serif;
    position: absolute;
    top: 50%;
    right: 15px;
    background-color: '#e8411b';
}

header nav ul li {
    font-family: "Montserrat", sans-serif;
    list-style-type: none;
    display: inline-block;
    margin-right: 10px;
}

header nav ul li:last {
    font-family: "Montserrat", sans-serif;
    margin: 0;
}

header nav a {
    font-size: 19px;
    font-family: "Montserrat", sans-serif;
    line-height: normal;
    color: white;
}

header nav a:hover {
    font-family: "Montserrat", sans-serif;
    color: white;
    text-decoration: none;
    transition: 0.3s
}
