@import "sanfrancisco-font.css";
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600|Open+Sans:400,600&display=swap');

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    color: rgb(83, 92, 39);
}

p {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    color: rgb(133, 156, 65);
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    color: rgb(133, 156, 65);
    background-color: rgb(250, 249, 247);
}

.card-title {
    font-family: 'Montserrat', sans-serif;
    color: rgb(83, 92, 39);
}

th {
    font-family: 'Montserrat', sans-serif;
    color: rgb(83, 92, 39);
}

td {
    font-family: 'Open Sans', sans-serif;
    color: rgb(133, 156, 65);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
