.imageMax {
    max-height: 150px;
    max-width: 150px;
}

.relDiv {
    width: 100%;
    height: 400px;
    overflow-x: hidden;
    overflow-y: scroll;

}

.carDeck {
    max-height: 300px;
    min-width: 300px;
    max-width: 1200px;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 20px;

}

.carCard {
    min-height: 420px;
    width: 350px;
    word-wrap: break-word;
    white-space: unset;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 1px 1px 6px;
    justify-self: center;
}

.carImg {
    max-height: 25%;
    max-width: 25%;
    display: block;
    margin: auto;
}

.carLink {
    color: black;
    text-align: center;
}
